body {
    background-color: #333;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-image: linear-gradient(#111 1px, transparent 1px),
        linear-gradient(90deg, #111 1px, transparent 1px),
        linear-gradient(#222 1px, transparent 1px),
        linear-gradient(90deg, #222 1px, transparent 1px);
}

svg {
    width: 100%;
    height: 800px;
}

.node-bg {
    fill: #202020;
}

.node.source .node-header {
    fill: #4a80d6;
    stroke: none;
}

.node.inventory .node-header {
    fill: #4d994d;
    stroke: none;
}

.node.filter .node-header {
    fill: #868729;
    stroke: none;
}

.node-outline {
    stroke: #333;
    fill: none;
    stroke-width: 1px;
}

.node-title {
    font-family: sans-serif;
    fill: #ddd;
}

.node-outlet-pid {
    fill: #4ad684;
    stroke: #333;
}

.node-inlet {
    fill: #d8e24a;
    stroke: #333;
}

.node-inlet.highlighted {
    stroke: #fff;
}

.node-outlet {
    fill: #d8e24a;
    stroke: #333;
}

.property-text {
    font-family: sans-serif;
    fill: #fff;
    font-size: 12px;
}

.node-connector {
    stroke: #aaa;
    fill: none;
    stroke-width: 2px;
}